# Selections

Often when we're working with numpy we're only interested in a portion of the data in our arrays. The `[]` on `ndarray` allows us select portions of the data in the array in a variety of interesting ways.

The exercises in this notebook will teach you how to select elements out of arrays in a variety of ways.

In [1]:
import numpy as np

rand = np.random.RandomState(42)  # Use a deterministic seed.

## Exercise: 1-dimensional selection

Write expressions to select the following elements from the array:

1. first element
1. second element
1. last element
1. second to last element
1. first 5 elements
1. last 5 elements
1. elements at indices 1, 4, 7, and 13
1. elements with even indices
1. the entire array, in reverse order
1. every other element, starting at index 3 (inclusive) ending at index 17 (exclusive)

In [2]:
array = np.arange(20)

In [3]:
array[0]  # first element

0

In [4]:
array[1]  # second element

1

In [5]:
array[-1]  # last element

19

In [6]:
array[-2]  # second to last element

18

In [7]:
array[:5]  # first 5 elements

array([0, 1, 2, 3, 4])

In [8]:
array[-5:] # last 5 elements

array([15, 16, 17, 18, 19])

In [9]:
array[[1, 4, 7, 13]]  # Elements at indices [1, 4, 7, 13].

array([ 1,  4,  7, 13])

In [10]:
array[::2]  # Elements with even indices.

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [11]:
array[::-1]  # the entire array, in reverse order

array([19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,
        2,  1,  0])

In [12]:
# every other element, starting at index 3 (inclusive) 
# ending at index 17 (exclusive)
array[3:17:2]

array([ 3,  5,  7,  9, 11, 13, 15])

## Exercise: 2-dimensional selection

Write expressions to select the following elements from the array.

1. scalar value at coordinates `[3, 6]`
1. top-left scalar value
1. first row
1. first column
1. second column
1. last column
1. first 5 columns
1. last 5 columns
1. top-left 2 x 2 square
1. top-right 2 x 2 square
1. last 5 rows from every other column

In [13]:
array = np.arange(20 * 20).reshape(20, 20)

In [14]:
array[3, 6]  # scalar value at coordinates [3, 6]

66

In [15]:
array[0, 0]  # top left scalar value

0

In [16]:
array[0]  # first row

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [17]:
array[:, 0]  # first column

array([  0,  20,  40,  60,  80, 100, 120, 140, 160, 180, 200, 220, 240,
       260, 280, 300, 320, 340, 360, 380])

In [18]:
array[:, 1]  # second column

array([  1,  21,  41,  61,  81, 101, 121, 141, 161, 181, 201, 221, 241,
       261, 281, 301, 321, 341, 361, 381])

In [19]:
array[:, -1]  # last column

array([ 19,  39,  59,  79,  99, 119, 139, 159, 179, 199, 219, 239, 259,
       279, 299, 319, 339, 359, 379, 399])

In [20]:
array[:, :5]  # first 5 columns

array([[  0,   1,   2,   3,   4],
       [ 20,  21,  22,  23,  24],
       [ 40,  41,  42,  43,  44],
       [ 60,  61,  62,  63,  64],
       [ 80,  81,  82,  83,  84],
       [100, 101, 102, 103, 104],
       [120, 121, 122, 123, 124],
       [140, 141, 142, 143, 144],
       [160, 161, 162, 163, 164],
       [180, 181, 182, 183, 184],
       [200, 201, 202, 203, 204],
       [220, 221, 222, 223, 224],
       [240, 241, 242, 243, 244],
       [260, 261, 262, 263, 264],
       [280, 281, 282, 283, 284],
       [300, 301, 302, 303, 304],
       [320, 321, 322, 323, 324],
       [340, 341, 342, 343, 344],
       [360, 361, 362, 363, 364],
       [380, 381, 382, 383, 384]])

In [21]:
array[:, -5:]  # last 5 columns

array([[ 15,  16,  17,  18,  19],
       [ 35,  36,  37,  38,  39],
       [ 55,  56,  57,  58,  59],
       [ 75,  76,  77,  78,  79],
       [ 95,  96,  97,  98,  99],
       [115, 116, 117, 118, 119],
       [135, 136, 137, 138, 139],
       [155, 156, 157, 158, 159],
       [175, 176, 177, 178, 179],
       [195, 196, 197, 198, 199],
       [215, 216, 217, 218, 219],
       [235, 236, 237, 238, 239],
       [255, 256, 257, 258, 259],
       [275, 276, 277, 278, 279],
       [295, 296, 297, 298, 299],
       [315, 316, 317, 318, 319],
       [335, 336, 337, 338, 339],
       [355, 356, 357, 358, 359],
       [375, 376, 377, 378, 379],
       [395, 396, 397, 398, 399]])

In [22]:
array[:2, :2]  # top left 2 x 2 square

array([[ 0,  1],
       [20, 21]])

In [23]:
array[:2, -2:]  # top right 2 x 2 square

array([[18, 19],
       [38, 39]])

In [24]:
array[-5:, ::2]  # last 5 rows from every other column

array([[300, 302, 304, 306, 308, 310, 312, 314, 316, 318],
       [320, 322, 324, 326, 328, 330, 332, 334, 336, 338],
       [340, 342, 344, 346, 348, 350, 352, 354, 356, 358],
       [360, 362, 364, 366, 368, 370, 372, 374, 376, 378],
       [380, 382, 384, 386, 388, 390, 392, 394, 396, 398]])

## Exercise: N-dimensional selection

## Exercise: Selections with boolean arrays.

In [25]:
array = rand.normal(0, 1, 50)

Write an expression to select the positive values from the array.

In [26]:
array[array > 0]

array([0.49671415, 0.64768854, 1.52302986, 1.57921282, 0.76743473,
       0.54256004, 0.24196227, 0.31424733, 1.46564877, 0.0675282 ,
       0.11092259, 0.37569802, 1.85227818, 0.82254491, 0.2088636 ,
       0.19686124, 0.73846658, 0.17136828, 1.05712223, 0.34361829])

Write an expression to select the values less than -1 **or** greater than 1.5.

In [27]:
array = rand.normal(0, 1, 50)

In [28]:
# NOTE: The parentheses are required here because of the 
# precedence rules for | and <.
array[(array < -1) | ( array > 1.5)]

array([-1.10633497, -1.19620662,  1.53803657,  1.56464366, -2.6197451 ,
       -1.98756891, -1.46351495])

In [29]:
array = np.arange(-5, 5)

Write an expression that produces the value from `array` if the value is positive, and produces the **square** of the value if it's negative.

In [30]:
np.where(array > 0, array, array ** 2)

array([25, 16,  9,  4,  1,  0,  1,  2,  3,  4])

## Exercise: "FizzBuzz"

Write an expression that converts `array` into a new array of the same shape according to the following rules:

At each index `[i]`

- if `array[i]` is divisible by 3: `result[i]` should hold -1
- if `array[i]` is divisible by 5: `result[i]` should hold -2
- if `array[i]` is divisible by 15, `result[i]` should hold -3
- otherwise:`result[i]` should hold `array[i]`

(**Hint:** `np.select` works like `np.where`, but it can select from more than two arrays.)

(**Solution Note:** There are two natural solutions to this question: one using `np.select`, and the other using `np.choose`.)

## Solution using `np.select`

In [31]:
array = np.arange(1, 100)

def select_fizzbuzz(a):
    by3 = (a % 3) == 0
    by5 = (a % 5) == 0
    by15 = by3 & by5

    return np.select([by15, by5, by3], [-3, -2, -1], a)

select_fizzbuzz(array)

array([ 1,  2, -1,  4, -2, -1,  7,  8, -1, -2, 11, -1, 13, 14, -3, 16, 17,
       -1, 19, -2, -1, 22, 23, -1, -2, 26, -1, 28, 29, -3, 31, 32, -1, 34,
       -2, -1, 37, 38, -1, -2, 41, -1, 43, 44, -3, 46, 47, -1, 49, -2, -1,
       52, 53, -1, -2, 56, -1, 58, 59, -3, 61, 62, -1, 64, -2, -1, 67, 68,
       -1, -2, 71, -1, 73, 74, -3, 76, 77, -1, 79, -2, -1, 82, 83, -1, -2,
       86, -1, 88, 89, -3, 91, 92, -1, 94, -2, -1, 97, 98, -1])

## Solution using `np.choose`

In [32]:
array = np.arange(1, 100)

def choose_fizzbuzz(a):
    by3 = (a % 3) == 0
    by5 = (a % 5) == 0
    selector = by3.astype(int) + by5.astype(int)

    return np.choose(selector, [a, -1, -2, -3])

choose_fizzbuzz(array)

array([ 1,  2, -1,  4, -1, -1,  7,  8, -1, -1, 11, -1, 13, 14, -2, 16, 17,
       -1, 19, -1, -1, 22, 23, -1, -1, 26, -1, 28, 29, -2, 31, 32, -1, 34,
       -1, -1, 37, 38, -1, -1, 41, -1, 43, 44, -2, 46, 47, -1, 49, -1, -1,
       52, 53, -1, -1, 56, -1, 58, 59, -2, 61, 62, -1, 64, -1, -1, 67, 68,
       -1, -1, 71, -1, 73, 74, -2, 76, 77, -1, 79, -1, -1, 82, 83, -1, -1,
       86, -1, 88, 89, -2, 91, 92, -1, 94, -1, -1, 97, 98, -1])

## Exercise: N-dimensional FizzBuzz

Same rules as above, but on a 3-dimensional array. (HINT: It's possible to write a solution that works for this exercise and the previous one.)

In [33]:
array = np.arange(1, 100).reshape(3, 11, 3)

In [34]:
select_fizzbuzz(array)

array([[[ 1,  2, -1],
        [ 4, -2, -1],
        [ 7,  8, -1],
        [-2, 11, -1],
        [13, 14, -3],
        [16, 17, -1],
        [19, -2, -1],
        [22, 23, -1],
        [-2, 26, -1],
        [28, 29, -3],
        [31, 32, -1]],

       [[34, -2, -1],
        [37, 38, -1],
        [-2, 41, -1],
        [43, 44, -3],
        [46, 47, -1],
        [49, -2, -1],
        [52, 53, -1],
        [-2, 56, -1],
        [58, 59, -3],
        [61, 62, -1],
        [64, -2, -1]],

       [[67, 68, -1],
        [-2, 71, -1],
        [73, 74, -3],
        [76, 77, -1],
        [79, -2, -1],
        [82, 83, -1],
        [-2, 86, -1],
        [88, 89, -3],
        [91, 92, -1],
        [94, -2, -1],
        [97, 98, -1]]])

In [35]:
choose_fizzbuzz(array)

array([[[ 1,  2, -1],
        [ 4, -1, -1],
        [ 7,  8, -1],
        [-1, 11, -1],
        [13, 14, -2],
        [16, 17, -1],
        [19, -1, -1],
        [22, 23, -1],
        [-1, 26, -1],
        [28, 29, -2],
        [31, 32, -1]],

       [[34, -1, -1],
        [37, 38, -1],
        [-1, 41, -1],
        [43, 44, -2],
        [46, 47, -1],
        [49, -1, -1],
        [52, 53, -1],
        [-1, 56, -1],
        [58, 59, -2],
        [61, 62, -1],
        [64, -1, -1]],

       [[67, 68, -1],
        [-1, 71, -1],
        [73, 74, -2],
        [76, 77, -1],
        [79, -1, -1],
        [82, 83, -1],
        [-1, 86, -1],
        [88, 89, -2],
        [91, 92, -1],
        [94, -1, -1],
        [97, 98, -1]]])